img {
  width: 300px
}

body {
  /* margin: 0; */
  /* background-color: maroon; */
  /* background-size: cover; */
}

h1 {
  font-family: cursive;
  font-size: 50px;
  text-align: center;

}

canvas {
  margin: 0;
  border: 10px solid black;
}
/*
body {
  background: #E3E9F2 url('/images/dog.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;

} */
