img {
  width: 300px
}

body {

  /* margin: 0; */
  background-color: maroon;
  /* background-size: cover; */
}

h1 {
  font-family: cursive;
  font-size: 50px;
  color: white;
  text-align: center;

}

h2 {
  font-family: cursive;
  font-size: 40px;
  color: white;


}

canvas {
  margin: 0;
  border: 10px solid black;


}

.draw {
  border: 10px solid red;
  background-color: black;
  margin-right: auto;
}


#columnChart {
  border: 10px solid black;
}

#main-map {
  height: 800px;
  width: 700px;
  border: 10px solid black;
  background-position: center;
}



select {
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
}
